{% extends "base.html" %} {% block title %}Analyse{% endblock %} 
{% block css_add%}  <link href="static/css/styles.css" rel="stylesheet" />  {% endblock%}   
{% block content%}

<h1 class="mt-4 d-flex justify-content-center" style="color: darkblue;">Analyse Chromatographique</h1>


    <div class="content" align="center">
        <h3>Lancer l'analyse sur un chromatogramme</h3>
        <h6>
        <form method=post enctype="multipart/form-data">
          <br>
          Sélectionner le fichier de la forme : <b>nom-chromatogram.csv</b><br>
          <input type=file name=file>
          <br>
          <br>
          Sélectionner le fichier de la forme : <b>nom-ms.csv</b><br>
          <input type=file name=file1>
          <br>
          <br>
          Assurez-vous que les noms des fichiers sélectionnés apparaissent sur la droite des boutons avant de lancer l'analyse pour éviter toutes erreurs.<br>
          <input type=submit value=Analyser>
        </form>
        <br>
        <h5>{{text1}}</h5>
        <h5 style="color: rgba(141, 0, 0, 0.795);">{{rep}}</h5><br>
        <br>
        <h5>{{text2}}</h5>
        <h5 style="color: rgba(141, 0, 0, 0.795);">{{label}}</h5>
        <br>
        <script src="static/js/analyse.js"></script>
    </div>

    

{% endblock %}