{% extends "base.html" %} {% block title %}Données{% endblock %} 
{% block css_add%}  <link href="static/css/styles.css" rel="stylesheet" />  {% endblock%}   
{% block content%}
<style>
    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #0e00d3;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    .button:hover {background-color: #0011ac}
    
    .button:active {
      background-color: #00127a;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    </style>
    
<h1 class="mt-4 d-flex justify-content-center" style="color: darkblue;">Visualisation de données</h1>

<div class="content" align="center">
    <h3 style="color: dimgrey;">Pour en visualiser un nouveau, il faudra rafraîchir la page</h5>
        Rappelons que cette page apporte une fonctionnalité déja présente sur le logiciel actuellement utilisé, on cherche juste ici à centraliser les informations.
    <h6>Selectionner un fichier csv à visualiser : <input type="file" id="myFile">
    <div class="button" onclick='processFile()'>Process</div></h6>
    <table class="center" id="myTable"></table>
    <script src="static/js/data.js"></script>
</div>

{% endblock %}