{% extends "base.html" %} {% block title %}Guide{% endblock %} 
{% block css_add%}  <link href="static/css/styles.css" rel="stylesheet" />  {% endblock%}   
{% block content%}

<h1 class="mt-4 d-flex justify-content-center" style="color: darkblue;">Guide d'utilisation du site</h1>
<br>
<div class="content" align="center">
    <h3><i>Guide de la page de données</i></h3>
    Cette page n'est pour l'instant qu'une page d'affichage des données voici les explications qui permettent de l'utiliser correctement.<br>
    Premièrement, il est impératif de disposer d'un fichier csv pour pouvoir le visualiser, pour se faire, ouvrez le logiciel de traitement puis 
    allez dans vos fichiers locaux en suivant le chemin suivant   D:\METABO\Data<br>
    Allez ensuite dans le dossier correspondant au patient recherché puis sélectionnez un fichier xms.<br>
    Une fois ce fichier ouvert cliquez en haut gauche sur File --> Export --> Active chromatogram --> ASCII File<br>
    Vous venez de créer un fichier csv qui sera utilisable sur ce site/logiciel.<br>
    Retournez à présent sur le page de données, sélectionnez le bouton "Choisir le fichier" puis transférer le fichier csv que vous venez de créer.<br>
    Appuyez finalement sur le bouton "Process" vous pouvez faire que le tableau s'affiche proprement au dessous de la page.<br>
    Si vous désirez visualisez un nouveau fichier il faudra néanmoins rechargez la page avant de répétez les actions précédentes.<br>
    <br>
    <h3><i>Guide de la page d'analyse</i></h3>
    Ici vous allez pouvoir analyser le résultat que l'intelligence articielle a établi sur votre fichier patient.<br>
    L'utililisation de cette page est relativement similaire à celle de la page de données, il suffit de sélectionner le fichier csv correspondant 
    puis de cliquez sur le bouton "Process".<br>
    Se référer au guide de la page de données si vous ne trouvez pas le fichier csv recherché.<br>
    <br>
    <h3><i>Guide de la page d'ajout</i></h3>
    Cette page permet l'ajout d'une donnée à un dossier particulier, le dossier d'entrainement du système de l'intelligence artificielle.
</div>

{% endblock %}