{% extends "base.html" %} {% block title %}Guide{% endblock %} 
{% block css_add%}  <link href="static/css/styles.css" rel="stylesheet" />  {% endblock%}   
{% block content%}

<h1 class="mt-4 d-flex justify-content-center" style="color: darkblue;">Guide d'utilisation du site</h1>
<br>
<div class="content" align="center">
    <h3><i>Ce guide est destiné à l'utilisation de la page d'analyse</i></h3>
    Ici vous allez pouvoir analyser le résultat que l'intelligence articielle a établi sur votre fichier patient.<br>
    <br>
    La page Analyse se décompose en plusieurs parties intéressantes :<br>
    1) Un premier bouton "Choisir le fichier" pour importer le fichier du type nom-chromatogram.csv<br>
    2) Un second bouton "Choisir le fichier" pour importer le fichier du type nom-ms.csv<br>
    3) Un bouton "Analyser" qui permet l'exécution de l'algorithme et l'affichage des résultats<br>
    <br>
    <h3><i>Étape 1 : Créer le fichier nom-chromatogram.csv</i></h3>
    Premièrement, il est impératif de disposer d'un fichier csv pour pouvoir le visualiser, pour se faire, ouvrez le logiciel de traitement Brucker MSWS puis 
    sélectionnez le bouton "Data Process"<br>
    <img src="../static/assets/img/Pic4.png" alt="Pic4" width="40%"><br>
    Allez ensuite dans le dossier correspondant au patient recherché puis suivez cette étape :<br>
    Cliquez en haut à gauche sur File --> Export --> Active chromatogram --> ASCII File<br>
    <img src="../static/assets/img/Pic5.png" alt="Pic4" width="40%"><br>
    Vous venez de créer un fichier csv qui sera utilisable sur ce site.<br>
    Conservez le bien à un endroit dont vous vous rappelerez.<br>
    <h3><i>Étape 2 : Créer le fichier nom-ms.csv</i></h3>
    Pour effectuer les analyses, nous avons besoin d'un second document concernant le même patient, voici le tuto pour l'obtenir :<br>
    Ouvrez le logiciel Brucker MSWS puis sélectionnez le bouton "Report".<br>
    <img src="../static/assets/img/Pic1.png" alt="Pic1" width="40%"><br>
    Puis le bouton "MS Report".<br>
    <img src="../static/assets/img/Pic2.png" alt="Pic2" width="40%"><br>
    Une nouvelle fenêtre va s’ouvrir, sélectionnez le fichier du patient que vous désirez convertir puis appuyez sur le bouton Open File en bas de la fenêtre.<br>
    Un nouveau fichier se génère mais il n’est toujours pas au bon format.<br>
    Il faut donc le convertir, en suivant les étapes de la photo suivante.<br>
    <img src="../static/assets/img/Pic3.png" alt="Pic3" width="40%"><br>
    Il ne vous reste plus qu’à enregistrer le fichier à l’endroit souhaité, il est préférable de le mettre au même endroit que le fichier créer lors de l'étape 1.
    <h3><i>Étape 3 : L'analyse</i></h3>
    Vous allez maintenant pouvoir vous rendre sur la page "Analyse du site".<br>
    Sur le premier bouton, allez sélectionner le fichier nom-chromatogram créé lors de l'étape 1.<br>
    Sur le second bouton, allez sélectionner le fichier nom-ms créé lors de l'étape 2.<br>   
    Votre page devrait à présent ressembler à ça : <br>
    <img src="../static/assets/img/anal.png" alt="Pic3" width="40%" border="5px"><br>
    Il ne reste plus qu'à appuyer sur le bouton "Analyser" et l'algorithme va faire le reste.
</div>

{% endblock %}