<link href="static/css/analyse.css" rel="stylesheet" /> 
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="container">
        <div class="heading">
          <strong>Run the AI to see what is the prediction</strong>
          <br>Precision : ...%
        </div>
        <p>&nbsp;</p>
        <p>We have a bank of data which were used to train the IA, now select the patient's test you want to analyze, it needs to be selected below before running the algorithms.</p>
        <form method="post" enctype="multipart/form-data">
            <div>
              <p>Select it directly from your browser</p>
              <p><input type="file" id="file" name="file" multiple></p>
            </div>
            <div>
              <p><button>Send</button></p>
            </div>
           </form>
      </div>
   

    {% endblock %}
    