<link href="static/css/datas.css" rel="stylesheet" /> 
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
   
    <div id="page-wrapper">

        <h1>CSV File Reader</h1>
        <h5 style="color: dimgrey;">Refresh the page to choose an other csv</h5>
        Select a file: <input type="file" id="myFile">
<button onclick='processFile()'>Process</button>
<table class="table table-bordered" id="myTable"></table>
    
          <script src="static/js/data.js"></script>

    {% endblock %}
    