<link href="static/css/home.css" rel="stylesheet" /> 
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!-- navbar -->
<header>
    <!-- scroll indicator -->
    <div class="progress-bar"></div>
  </header>
  
  <!-- home page - typewriter effect -->
  <section>
    <div class="landing-page">
      <div class="typewriter-text-container">
        <span class="landing-page-text" id="typewriter-text"></span>
        <span class="landing-page-text blink">|</span>
      </div>
      <a href="#home-card-wrapper">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </section>
  
  <!-- homepage cards -->
  <div class="home-card-wrapper" id="home-card-wrapper">
    <div class="home-card-container">
      <div class="home-card">
        <img src="../static/assets/img/livres.jpg" alt="img 1">
        <div class="home-card-body">
          <h3>Check out all the data</h3>
          <p>Here you can see all the data that have been collected and which have been gathered all together in one file.</p>
          <a href="/datas">
            Learn More
          </a>
        </div>
      </div>
      <div class="home-card">
        <img src="../static/assets/img/chromato.png" alt="img 2">
        <div class="home-card-body">
          <h3>Analysis</h3>
          <p>Choose the patient's test you want to analyze and see what our Artificial Intelligence detects.</p>
          <a href="/analyse">
            Learn More
          </a>
        </div>
      </div>
      <div class="home-card">
        <img src="../static/assets/img/adddata.jpg" alt="img 3">
        <div class="home-card-body">
          <h3>Add data</h3>
          <p>You have a new result and want to add it to the database ? Click here</p>
          <a href="#">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-info">Copyright &copy; 2021 All Rights Reserved by CHRU Nancy.</div>
    </div>
  </footer>
  <script src="static/js/home.js"></script>
    {% endblock %}